* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GLOBAL STYLINGS
*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*
    GLOBAL STYLINGS END
*/

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-cont {
    background-color: rgb(177, 58, 58);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 83%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2em;
}

nav ul a {
    font-size: 18px;
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1.5;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 80px;
    outline: none;
}

/*
    Login Button
*/
.have-bg {
    background-color: #FFFFFF;
    color: rgb(177, 58, 58);
}

main {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 170px;
}

section.about {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section.about .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

section.about .right h5 {
    font-size: 25px;
    letter-spacing: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.about .right p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
    gap: 3em;
}

section.hobbies h3 {
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.hobbies ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
}

section.hobbies ul li {
    width: 25%;
    background-color: rgb(177, 58, 58);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding: 40px 20px;
    color: #FFFFFF;
}

section.hobbies ul li i {
    font-size: 40px;
}

section.hobbies ul li h4 {
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.hobbies ul li p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.cta {
    width: 100%;
    margin-top: 100px;
    background-color: rgb(177, 58, 58);
    height: 220px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.cta h4 {
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.cta a {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #FFFFFF;
    padding: 10px 20px;
    border-radius: 80px;
}

footer {
    margin-top: 130px;
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    height: 150px;
}

footer .top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

footer p.logo {
    color: black;
    font-size: 40px;
}

footer .top p {
    font-size: 20px;
}

footer .top a {
    color: chocolate;
}

footer .bottom {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer .bottom p {
    font-size: 20px;
    color: black;
}

@media (max-width: 430px) {
    .header-cont {
        width: 100%;
        flex-direction: column;
    }

    header {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }
}